*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display:flex;
    list-style:none;
  
}
.fa-solid {
    color:  rgb(42, 171, 222);
}
li a{
    text-decoration:none;
    color:white;
  
}
ul{
    gap:40px;
}

.img{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('working women.jpg');
    background-size: cover;

}
.navbar{
    justify-content: space-evenly;  
}
.d1{
    padding: 20px;
}
.logo{
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: large;
}
.middle-content{
    justify-content: center;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;

}
.middle-button{
   justify-content: center;
   text-align: center;
   margin-top: 30px;
   gap: 30px;
}
.bold-heading{
    font-weight:700;
    color: white;
    letter-spacing: 3px;
    font-size:3em;

}
.para{
    color:white;
    font-size: large;
    letter-spacing: 2px;
}
.white-button{
     border-radius:4px;
     padding-top: 10px;
      border: none;
   
}
.white-button input[type=button]{
    background-color: #796a68;
    border: none;
}
.white-button input[type=button]:hover{
    background-color: rgb(42, 171, 222); ;
    border: none;

}
input[type=button]{
    color: white;
    padding: 10px;
}
.blue-button{
    border-radius:8px;
    padding: 10px;
    border: none;
}
.blue-button input[type=button]{
     background-color: rgb(42, 171, 222);
     border: none;
}
.blue-button input[type=button]:hover{
    background-color: #796a68;
    border: none;
}

/* About Uss css */

.about-us{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
   
}
.about-head{
    color:  rgb(42, 171, 222);
    font-weight: 700;
    margin-bottom: 20px;
}
.roww{
    justify-content: center;
    gap: 7%;
   
}
.paraa1{
    align-items: center;
    line-height: 30px;
    display: inline;
    
}
.coll1{
    height: 40vh; 
    width: 30vw;
}
.coll2{
    height: 40vh; 
    width: 35vw;
}
.button{
    margin-top: 30px;
}

/* our services */

.r{
    justify-content: space-evenly;
    gap:40px;
    margin-left: 30px;
    margin-right: 30px;
}
.c{
    background-color: #f1f1f1;
    padding: 50px;
}
.row2{
    margin-top: 30px;
}
.c i{
     font-size: 25px;
     color:  rgb(42, 171, 222);
     margin-bottom: 10px;
}
